# Folders
Images/
CSSA/
Testing/Excluded/
Garett_Joan/
Training/
Models/
CVATLabeling/
GIFS/
Output/
OldFiles/
Files/*


# Code
.ipynb_checkpoints/*


# Files
*.gsheet
ManuscriptExamples.ipynb
SpykPropsBatchExe.ipynb
.DS_Store
