# Folders
Images/
CSSA/
Testing/Excluded/
Garett_Joan/
Training/
Models/
CVATLabeling/
GIFS/
Output/
OldFiles/
Files/
.ipynb_checkpoints/
__pycache__

# Files
*.gsheet
ManuscriptExamples.ipynb
SpykPropsBatchExe.ipynb
.DS_Store
BashTest.sh
