# Folders
Images/
CSSA/
Testing/Excluded/
Garett_Joan/
Training/
Models/
CVATLabeling/
GIFS/
Output/
OldFiles/
Files/
__pycache__/

# Code

# Files
*.gsheet
ManuscriptExamples.ipynb
SpykPropsBatchExe.ipynb
