numpy==1.21.5
matplotlib==3.5.1
pandas==1.4.2
opencv-contrib-python==4.6.0.66
scikit-image==0.19.2
scipy==1.7.3
Pillow==9.0.1
seaborn==0.11.2
argparse==1.1
spatial_efd==1.2.1
daal==2021.2.3
pyefd==1.6.0
ß
