numpy==1.23.1
matplotlib==3.3.4
pandas==1.1.5
opencv-contrib-python==4.6.0.66
scikit-image==0.17.2
scipy==1.5.4
Pillow>=9.2.0
seaborn==0.11.2
argparse==1.1
spatial_efd==1.2.1
daal==2021.2.3
pyefd==1.6.0
